PATH_TO_WATCH= ./
PATH_TO_CREATE_FILE= ./enumwriter.cs
CLASS_NAME= 
CLASS_DECLARATOR= public class 
ENUM_DECLARATOR= 
POST_ENUM_DECLARATION=  :
AFTER_ENUM_LAST_BRACKET= ,
ENUM_CONST_SURROUND_WITH= "
ENUM_TO_UPPERCASE= false
ENUM_CONST_TO_UPPERCASE= true
ASSIGN_SYMBOL= :
WILL_USE_ASSIGN= true
IGNORE_EXTENSIONS= .config, .java, .git, .classpath, .project
IGNORE_PATHS= .git, .vscode
